/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2f3b47;
}
p{
  color: #19e5e5;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #1a242f;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}



.logo{
  margin-left: 0rem;
  height: 4rem;
  width: 4rem;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 6rem;
}

.nav-links ul {
  display: flex;
  list-style: none;
 
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin-right: 20px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #66d9ef;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: #19e5e5;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right{
  margin-left: 20px;
}

.download-button {
  
  padding: 10px 50px;
  background: linear-gradient(90deg, #0073e6 0%, #005bb5 100%);
  color: #66d9ef;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.download-button:hover {
  background-color: #1c555a;
  transform: scale(1.05);
}

