/* General styling for the app */

  .app {
    margin-top: 4rem;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styling for the video container */
  .video-container {
    position: relative;
    width: 500px;
    height: 480px;
    margin: 0 auto;
  }
  
  /* Styling for the video element */
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Ensures it fills the container and doesn't have unwanted spacing */
    border: 2px solid black;
    border-radius: 8px; /* Optional: adds rounded corners */
  }
  
  /* Styling for the canvas element */
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    border-radius: 8px; 
  }
  
  /* Styling for the authentication status */
  .authentication-status {
    margin-top: 20px;
  }
  
  .authentication-status p {
    font-size: 18px;
    font-weight: bold;
  }
  .matching-face-message{
    position: absolute;
    top: 2px;
    right: 0px;
    border: 1px solid #0a74da;
    background-color: #2a3a4b;
    border-radius: 1rem 0 0 1rem;
    padding: 8px 40px;
  }